<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>501352302337-2rt0fmr4ovq5er4vut9j5uqkk1u7flt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501352302337-2rt0fmr4ovq5er4vut9j5uqkk1u7flt1</string>
	<key>API_KEY</key>
	<string>AIzaSyCrTG-hOIFd_I4aGOqFh5bkGDRZ6qDXKFU</string>
	<key>GCM_SENDER_ID</key>
	<string>501352302337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donlaya.TestFCM</string>
	<key>PROJECT_ID</key>
	<string>testfcm-16c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>testfcm-16c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501352302337:ios:bb37ff7582608819</string>
	<key>DATABASE_URL</key>
	<string>https://testfcm-16c6f.firebaseio.com</string>
</dict>
</plist>